@model IEnumerable<ISAD251_Lee.Models.OrderDetails>

@{
    Layout ="~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Order Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                    </td>
                    <td>


                        <a asp-action="Delete" asp-route-id="@item.Id">Cancel Order</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="row">
        <div class="col-sm-2"><a asp-controller="OrderDetails" asp-action="Create" class="btn btn-info">Add another product to your order</a></div>
        <div class="col-sm-10"></div>
    </div>

    <p> _______________________</p>
    <p> Click complete order button below when you would like to finish your order</p>

    <div class="row">
        <div class="col-sm-2"><a asp-controller="Orders" asp-action="Create" class="btn btn-success btn-lg">Complete Order</a></div>
        <div class="col-sm-10"></div>
    </div>


</body>
</html>
